include ../../components/button.pug

.quiz 
  .quiz__content.container 
    .quiz__panel
      .control-panel 
        .control-panel__content 
          .control-panel__head
            h3 Дорога без <br> сюрпризов
          .control-panel__desc 
            p Узнайте в каких ситуациях на дороге <strong>PureVision® 2</strong> могут вам помочь. 
          .control-panel__btn
            +button('Подробнее', 'button', 'm', 'blue')