include ../../components/button.pug

section.utp 
  .utp__content.container
    .utp__items 
      .utp__items-item
        img(src="./img/utp-1.svg", alt="")
        p Край контактных линз — тонкий закругленный, <br> обеспечивает мягкое взаимодействие <br>с поверхностью глаза и позволяет слезе <br> легко попадать под линзу2.
      .utp__items-item
        img(src="./img/utp-2.svg", alt="")
        p Контактные линзы хорошо <br> держат форму и удобны <br> в обращении3.
    .utp__btn 
      +button('Получить скидку', 'button', 'm', 'white', '', './img/right_small.svg')
