include ../../components/button.pug

.care
  .care__content.container
    h2 Для ухода за вашими контактными линзами выбирайте
    .care__items 
      .care__items-item 
        img(src="./img/care/1.jpg", alt="Раствор ReNu® MultiPlus")
        h3 Раствор ReNu® MultiPlus
        .care__btn 
          +button('Узнать больше', 'button', 'm', 'white')
      .care__items-item         
        img(src="./img/care/2.png", alt="Раствор BIOTRUE®")
        h3 Раствор BIOTRUE®
        .care__btn 
          +button('Узнать больше', 'button', 'm', 'white')