doctype html
html(lang="ru")
  head
    title Bausch & Lomb 

    link(rel='stylesheet', href='./index.pcss')

    //- script(src='./index.js' defer type="module")
    script(src='./blocks/popup/popup.js' defer type="module")

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="language" content="ru-RU")

    //- Favicon
    link(rel="icon" type="image/png" href="./assets/favicons/android-chrome-192x192.png" sizes="192x192")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="96x96" href="./assets/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
    link(rel="icon" type="image/x-icon" href="./assets/favicons/favicon.ico")
    meta(name="theme-color" content="#fff")
    
  body
    main(id="app")
      include ./blocks/nav/nav.pug

      include ./blocks/header/header.pug
      include ./blocks/quiz/quiz.pug
      include ./blocks/utp/utp.pug
      include ./blocks/care/care.pug

      include ./blocks/footer/footer.pug

      include ./blocks/popup/popup.pug
      
    
