include ../../components/button.pug

.header
  .header__content.container
    .header__info 
      h1 PureVision® 2
      p Наверняка вы сталкивались с ситуацией, когда вы ощущали дискомфорт при вождении в условиях плохой видимости или в темное время суток. Блики и ореолы вместо четкой картинки — ваши частые спутники на дороге? Линзы PureVision® 2 помогут вам избежать неприятных сюрпризов. 
      strong PureVision® 2. Особая форма линз высокой четкости позволяет добиться ясного и четкого зрения без бликов и ореолов, даже в условиях низкой освещенности 1.
      .header__btn
        +button('Подробнее', 'button', 'm', 'blue')
        +button('Где купить', 'button', 'm', 'white', '', './img/right_small.svg') 
    .header__swiper 
  .header__go 
    a(href="#") Поехали 